<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <%- include('./partials/head.ejs') %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
  </head>
  <body>
    <aside class="sidebar active">
      <%- include('./partials/sidebar.ejs') %>
    </aside>

    <!-- <img src="img/jj-logo.jpg" class="jj-logo" alt="Jack & Jones brand name" /> -->
    <%- include('./partials/navbar.ejs') %>

    <main class="main">
      <div class="content">
        <div class="header">
          <div class="left">
            <h1>Dashboard</h1>
          </div>
          <p>
            <%= new Date().toLocaleDateString("en-US", { weekday: 'long', year:
            'numeric', month: 'long', day: 'numeric' }) %>
          </p>
        </div>

        <!-- INSIGHTS -->
        <ul class="insights">
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-day"></use>
              </svg>
            </div>
            <div class="insight">
              <h3 class="reports-today">-</h3>
              <p>Calls Today</p>
            </div>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-week"></use>
              </svg>
            </div>
            <div class="insight reports-by-week select">
              <h3>-</h3>
              <div class="icons icon-spinner alt">
                <svg>
                  <g class="spinner">
                    <use href="/img/icons.svg#icon-loader"></use>
                  </g>
                </svg>
              </div>
            </div>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-month"></use>
              </svg>
            </div>
            <div class="insight reports-by-month select">
              <h3>-</h3>
              <div class="icons icon-spinner alt">
                <svg>
                  <g class="spinner">
                    <use href="/img/icons.svg#icon-loader"></use>
                  </g>
                </svg>
              </div>
            </div>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-year"></use>
              </svg>
            </div>
            <div class="insight reports-by-year select">
              <h3>-</h3>
              <div class="icons icon-spinner alt">
                <svg>
                  <g class="spinner">
                    <use href="/img/icons.svg#icon-loader"></use>
                  </g>
                </svg>
              </div>
            </div>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-report"></use>
              </svg>
            </div>
            <div class="insight">
              <h3 class="reports-count">-</h3>
              <p>Total Reports</p>
            </div>
          </li>
        </ul>

        <div class="analytics-ctn">
          <!-- ANALYTICS 1 -->
          <div class="activity-log">
            <div class="sub-header">
              <svg class="icons fill-on-background">
                <use href="/img/icons.svg#icon-report"></use>
              </svg>
              <h3>Recent Activity</h3>
            </div>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Timestamp</th>
                  <th>Method</th>
                  <th>URL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>
                    <div class="icons icon-spinner alt">
                      <svg>
                        <g class="spinner">
                          <use href="/img/icons.svg#icon-loader"></use>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- ANALYTICS 2 -->
          <div class="analytics">
            <div class="sub-header">
              <svg class="icons">
                <use href="/img/icons.svg#icon-group"></use>
              </svg>
              <h3>Assigned To Users</h3>
            </div>
            <canvas id="assigned-to-users">
              Your browser does not support the canvas element.
            </canvas>
          </div>

          <!-- ANALYTICS 3 -->
          <div class="analytics">
            <div class="sub-header">
              <svg class="icons">
                <use href="/img/icons.svg#icon-pie-chart"></use>
              </svg>
              <div class="pie-chart-select">
                <select name="pie-chart-select">
                  <option value="incidentType" selected>Incident Types</option>
                  <option value="incidentTransactionType">
                    Incident Transaction Types
                  </option>
                  <option value="onCall">On-call</option>
                  <option value="procedural">Procedural</option>
                </select>
              </div>
            </div>
            <canvas id="pie-chart">
              Your browser does not support the canvas element.
            </canvas>
          </div>
        </div>

        <div class="analytics-ctn">
          <!-- ANALYTICS 1 -->
          <div class="analytics line">
            <div class="sub-header">
              <svg class="icons fill-on-background">
                <use href="/img/icons.svg#icon-calendar-month"></use>
              </svg>
              <div class="line-chart-select">
                <select name="line-chart-select">
                  <option value="byWeekdayAverage" selected>
                    Weekday Average
                  </option>
                  <option value="byMonthlyAverage">Monthly Average</option>
                  <option value="byYear">By Year</option>
                </select>
              </div>
            </div>
            <canvas id="line-chart">
              Your browser does not support the canvas element.
            </canvas>
          </div>

          <!-- ANALYTICS 2 -->
          <div class="reports">
            <div class="sub-header">
              <svg class="icons fill-on-background">
                <use href="/img/icons.svg#icon-report"></use>
              </svg>
              <h3>Recently Created Reports</h3>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Created By</th>
                  <th>Created</th>
                  <th>Call Date</th>
                  <th>Incident</th>
                  <th>Status</th>
                  <th>Assigned To</th>
                  <th>Procedural</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="icons icon-spinner alt">
                      <svg>
                        <g class="spinner">
                          <use href="/img/icons.svg#icon-loader"></use>
                        </g>
                      </svg>
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="analytics-ctn">
          <!-- ANALYTICS 1 -->
          <div class="analytics">
            <div class="sub-header">
              <svg class="icons">
                <use href="/img/icons.svg#icon-storefront"></use>
              </svg>
              <h3>By Store Numbers</h3>
            </div>
            <canvas id="reports-by-store-numbers"></canvas>
          </div>
        </div>

        <%- include('./partials/notifications.ejs') %> <%-
        include('./partials/modal.ejs') %>
      </div>
    </main>

    <!-- <footer class="footer">
      <p>v<span id="app-version">#.#.#</span></p>
      <span>Made by William Evora :)</span>
    </footer> -->
  </body>
</html>
