<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <aside class="sidebar active">
      <%- include('./partials/sidebar.ejs') %>
    </aside>

    <!-- <img src="img/jj-logo.jpg" class="jj-logo" alt="Jack & Jones brand name" /> -->
    <%- include('./partials/navbar.ejs') %>

    <main class="main">
      <div class="content">
        <div class="header">
          <div class="left">
            <h1>Dashboard</h1>
          </div>
        </div>

        <!-- INSIGHTS -->
        <ul class="insights">
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-week"></use>
              </svg>
            </div>
            <span class="info">
              <h3>28</h3>
              <p>Reports This Week</p>
            </span>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-month"></use>
              </svg>
            </div>
            <span class="info">
              <h3>94</h3>
              <p>Reports This Month</p>
            </span>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-calendar-year"></use>
              </svg>
            </div>
            <span class="info">
              <h3>464</h3>
              <p>Reports This Year</p>
            </span>
          </li>
          <li>
            <div class="icon-ctn">
              <svg class="icons">
                <use href="/img/icons.svg#icon-report"></use>
              </svg>
            </div>
            <span class="info">
              <h3>1,074</h3>
              <p>Total Reports</p>
            </span>
          </li>
        </ul>

        <!-- ANALYTICS 1 -->
        <div class="bottom-data">
          <div class="reports">
            <div class="header">
              <svg class="icons">
                <use href="/img/icons.svg#icon-report"></use>
              </svg>
              <h3>Recently Created Reports</h3>
            </div>
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Call Date</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Store</th>
                  <th>Procedural</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>20-03-2024</td>
                  <td>20-03-2024</td>
                  <td><span class="status completed">Completed</span></td>
                  <td>101</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>19-03-2024</td>
                  <td>19-03-2024</td>
                  <td><span class="status inprogress">In Progress</span></td>
                  <td>211</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>14-03-2024</td>
                  <td>14-03-2024</td>
                  <td><span class="status completed">Completed</span></td>
                  <td>505</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>20-03-2024</td>
                  <td>20-03-2024</td>
                  <td><span class="status completed">Completed</span></td>
                  <td>101</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>19-03-2024</td>
                  <td>19-03-2024</td>
                  <td><span class="status inprogress">In Progress</span></td>
                  <td>211</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>14-03-2024</td>
                  <td>14-03-2024</td>
                  <td><span class="status completed">Completed</span></td>
                  <td>505</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </td>
                  <td>14-03-2024</td>
                  <td>14-03-2024</td>
                  <td><span class="status completed">Completed</span></td>
                  <td>505</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- ANALYTICS 2 -->
          <div class="analytics-grouping">
            <div class="analytics">
              <div class="header">
                <svg class="icons">
                  <use href="/img/icons.svg#icon-group"></use>
                </svg>
                <h3>By Users</h3>
              </div>
              <ul class="list">
                <li class="user">
                  <div class="list-title">
                    <img src="img/profile.jpg" />
                    <p>William Evora</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">145</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
                <li class="user">
                  <div class="list-title">
                    <img src="img/profile.jpg" />
                    <p>Vasileios Nikitaras</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">135</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
                <li class="user">
                  <div class="list-title">
                    <img src="img/profile.jpg" />
                    <p>Robert Tam</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">111</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
              </ul>
            </div>
            <div class="analytics">
              <div div class="header">
                <svg class="icons">
                  <use href="/img/icons.svg#icon-reader"></use>
                </svg>
                <h3>By Incident Type</h3>
              </div>
              <ul class="list">
                <li class="type">
                  <div class="list-title">
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-bug"></use>
                    </svg>
                    <p>Bugs</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">127</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
                <li class="type">
                  <div class="list-title">
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-networking"></use>
                    </svg>
                    <p>Networking</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">97</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
                <li class="type">
                  <div class="list-title">
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-software"></use>
                    </svg>
                    <p>Software</p>
                  </div>
                  <div class="reports-container">
                    <p class="count">58</p>
                    <svg class="icons">
                      <use href="/img/icons.svg#icon-report"></use>
                    </svg>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!-- ANALYTICS 3 -->
          <div>
            <canvas id="myChart"></canvas>
          </div>
        </div>

        <%- include('./partials/notifications.ejs') %> <%-
        include('./partials/modal.ejs') %>
      </div>
    </main>

    <!-- <footer class="footer">
      <p>v<span id="app-version">#.#.#</span></p>
      <span>Made by William Evora :)</span>
    </footer> -->
  </body>
</html>
