<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <aside class="sidebar active">
      <%- include('./partials/sidebar.ejs') %>
    </aside>

    <%- include('./partials/navbar.ejs') %>

    <main class="main">
      <div class="content">
        <div class="header">
          <div class="left">
            <h1>Reports</h1>
          </div>
          <button class="btn-import-reports">
            <svg class="icons">
              <use href="/img/icons.svg#icon-import"></use>
            </svg>
            <span>Import Reports (JSON)</span>
          </button>
        </div>

        <section class="section-col">
          <div class="container tab-form-ctn">
            <div class="tabs-ctn">
              <ul class="tab-list" role="tablist">
                <!-- <li><a class="tab-btn" id="tab_0" href="#">Form 0</a></li> -->
              </ul>
            </div>
            <div class="tabs-forms"></div>
          </div>

          <!-- TABLE -->
          <div class="container table-ctn">
            <!-- TABLE TABS -->
            <div class="tabs-ctn">
              <ul class="tab-list" role="tablist">
                <li role="presentation">
                  <button
                    class="tab-btn-table"
                    id="table-reports"
                    aria-selected="true"
                  >
                    All Reports
                  </button>
                </li>
                <li role="presentation">
                  <button class="tab-btn-table" id="table-delete-reports">
                    All Deleted Reports
                  </button>
                </li>
              </ul>
            </div>
            <div class="tabs-forms"></div>

            <div class="table-header">
              <form class="table-filter">
                <div>
                  <label for="table-filter-by">Filter By:</label>
                  <select
                    id="table-filter-by"
                    name="table-filter-by"
                    class="table-filter-by"
                  >
                    <option selected value="incident.title">Title</option>
                    <option value="assignedTo">TECH</option>
                    <option value="call.dateTime">Date</option>
                    <option value="call.status">Status</option>
                    <option value="call.phone">Phone</option>
                    <option value="store.numbers">Stores</option>
                    <option value="incident.types">Types</option>
                    <option value="incident.isProcedural">Procedural</option>
                    <option value="store.employee.name">Emp</option>
                    <option value="store.districtManagers">DMs</option>
                    <option value="isOnCall">On-call</option>
                  </select>
                </div>
                <div class="table-filter-search-ctn">
                  <label for="table-filter-search">Filter: </label>
                  <input
                    type="search"
                    name="table-filter-search"
                    id="table-filter-search"
                    class="table-filter-search"
                    placeholder="Search..."
                  />
                </div>
              </form>
              <div class="table-view">
                <div class="table-meta-data">
                  <p>
                    Total Reports:
                    <strong><span class="total-count">0</span></strong>
                  </p>
                  <p>
                    Total Results :
                    <strong><span class="results-count">0</span></strong>
                  </p>
                </div>
                <div class="table-pagination"></div>
              </div>
            </div>
            <div class="table-wrapper">
              <table class="table-content">
                <thead>
                  <tr>
                    <th>TECH</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Stores</th>
                    <th>Emp</th>
                    <th>DMs</th>
                    <th>Types</th>
                    <th>Procedural</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="icons icon-spinner alt">
                        <svg>
                          <g class="spinner">
                            <use href="/img/icons.svg#icon-loader"></use>
                          </g>
                        </svg>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer">
              <div class="table-rows">
                <div>
                  <label for="table-rows-per-page">Rows per page:</label>
                  <select
                    id="table-rows-per-page"
                    name="table-rows-per-page"
                    class="table-rows-per-page"
                  >
                    <option selected value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                  </select>
                </div>
              </div>
              <div class="table-pagination"></div>
            </div>
          </div>
        </section>

        <%- include('./partials/notifications.ejs') %> <%-
        include('./partials/modal.ejs') %>
      </div>
    </main>
  </body>
</html>
