<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <aside class="sidebar active">
      <%- include('./partials/sidebar.ejs') %>
    </aside>

    <%- include('./partials/navbar.ejs') %>

    <main class="main">
      <div class="content">
        <div class="header">
          <div class="left">
            <h1>Users</h1>
          </div>
        </div>

        <section class="section-col">
          <!-- FORM -->
          <div class="container tab-form-ctn">
            <div class="tabs-ctn">
              <ul class="tab-list" role="tablist">
                <!-- <li><a class="tab-btn" id="tab_0" href="#">Form 0</a></li> -->
              </ul>
            </div>
            <div class="tabs-forms"></div>
          </div>

          <!-- TABLE -->
          <div class="container table-ctn">
            <div class="table-header">
              <form class="table-filter">
                <div>
                  <label for="table-filter-by">Filter By:</label>
                  <select
                    id="table-filter-by"
                    name="table-filter-by"
                    class="table-filter-by"
                  >
                    <option selected value="fullName">Full name</option>
                    <option value="email">Email</option>
                    <option value="username">Username</option>
                    <option value="role">Role</option>
                    <option value="status">Status</option>
                  </select>
                </div>
                <div class="table-filter-search-ctn">
                  <label for="table-filter-search">Filter: </label>
                  <input
                    type="search"
                    name="table-filter-search"
                    id="table-filter-search"
                    class="table-filter-search"
                    placeholder="Search..."
                  />
                </div>
              </form>
              <div class="table-view">
                <div class="table-meta-data">
                  <p>
                    Total Users:
                    <strong><span class="total-count">0</span></strong>
                  </p>
                  <p>
                    Total Results:
                    <strong><span class="results-count">0</span></strong>
                  </p>
                </div>
                <div class="table-pagination"></div>
              </div>
            </div>
            <div class="table-wrapper">
              <table class="table-content">
                <thead>
                  <tr>
                    <th>Picture</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <div class="icons icon-spinner alt">
                        <svg>
                          <g class="spinner">
                            <use href="/img/icons.svg#icon-loader"></use>
                          </g>
                        </svg>
                      </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-footer">
              <div class="table-rows">
                <div>
                  <label for="table-rows-per-page">Rows per page:</label>
                  <select
                    id="table-rows-per-page"
                    name="table-rows-per-page"
                    class="table-rows-per-page"
                  >
                    <option value="25">25</option>
                    <option selected value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                  </select>
                </div>
              </div>
              <div class="table-pagination"></div>
            </div>
          </div>
        </section>

        <%- include('./partials/notifications.ejs') %> <%-
        include('./partials/modal.ejs') %>
      </div>
    </main>
  </body>
</html>
